<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Minduola Login Page Test Suite">

	<listeners>
		<listener class-name="com.minduola.ExtentReportListener.ExtentReporterNG" />
	</listeners>


	<test name="Login Page Test Cases">
		<classes>
			<class name="com.mindoula.test.TestRunner"></class>
			<class name="com.mindoula.test.TestRunner2"></class>
		</classes>
	</test>
</suite>